div#content{

    float: left;
    margin-top: 30px;
    margin-left: 200px;

}

label{
    float: left;
}

input,textarea{

    float: left;
    left: 280px;


}

textarea{

    width: 220px;
    height: 100px;

}