#nav {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #5a5a5a; }
  #nav #x_btn {
    margin-left: -4px;
    border: 1px solid #969696;
    background-color: white;
    color: #969696;
    height: 33px;
    cursor: pointer; }

#search_ip {
  line-height: 60px;
  margin-left: 200px;
  color: white;
  font-size: 16px; }
  #search_ip input {
    border: 0;
    width: 240px;
    height: 30px; }

#choice {
  color: white;
  margin-left: 90px; }

#result a {
  text-decoration: none;
  width: 300px;
  margin: 20px auto; }
#result .tp {
  float: left;
  margin: 10px;
  width: 300px;
  padding-left: 10px;
  color: black;
  background-color: #c8c8c8; }
  #result .tp .header {
    font-size: 18px; }
#result .tp:hover {
  background-color: white; }
