html, body{

    height: 100%;
    padding:0;
    margin:0;

}

body{

    background-color: rgb(200,200,200);
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    position: relative;

}

#headerer{

    float: left;
    position: absolute;
    top:0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: gold;

}

#headerer img{

    position: absolute;
    height: 50px;

}


#contenter{

    height: auto;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -175px;
    /*width: 1000px;*/

}

#in_content{

    float: left;
    width: 300px;
    background-color:white;
    padding: 5px 30px 30px 30px;

}
