div#menu1{

    float: left;
    background-color: rgb(205,205,205);
    height: 450px;
    width: 300px;
    position: relative;
    border-bottom: 1px solid rgb(175,175,175);
}



/* ---------------------Sub menu--------------------- */

div#sub_menu{

    float: left;
    width: 100%;
    height: 40px;
    background-color: rgb(230,230,230);
    border-bottom: 1px solid rgb(195,195,195);

}

div#search{

    float: right;
    height: 25px;
    line-height: 25px;
    margin-top: 8px;
    margin-right: 20px;
    vertical-align: middle;

}

div#search input#search_input,div#search div#search_button{

    float:right;
    border: 0;
    height: 23px;

}

div#search div#search_button{

    background-color: rgb(85,85,85);
    color: White;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 50px;
    cursor: pointer;

}



/* ---------------------For stable layout when some "div" was moving--------------------- */

div#blogmenu1{

    float: left;
    background-color: transparent;
    height: 500px;
    width: 300px;

}


/* ---------------------Content--------------------- */

div#blog_content{

    position: inherit;
    float: left;
    background-color: transparent;
    width: 55%;
    min-height: 25%;
    height: auto;

}

div#content{

    float: left;
    width: 100%;
    min-height: 25%;
    height: auto;
    background-color: transparent;

}

div#content div.reply{

    float: left;
    background-color: white;
    height: 180px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid rgb(175,175,175);

}

div#content div.reply div.head{

    float: left;
    color:white;
    background-color: rgb(85,85,85);
    height: 30px;
    width: 100%;

}

div#content div.reply div.head div.head_msg{

    padding-left: 5px;

}

div#content div.reply div.message{

    float: left;
    background-color: white;
    height: 150px;
    width: 100%;

}

div#content div.reply div.message div.message_hdr{

    padding: 5px;
    margin: 5px;
    background-color: rgb(235,235,235);
    font-size: large;

}

div#content div.reply div.message div.message_msg{

    padding: 5px;

}

/* ---------------------End of content--------------------- */


div#loadmore {

    float:left;
    width: 100%;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(85,85,85);
    color: white;

}

div#up{

    float: left;
    position: fixed;
    background-color: rgb(85,85,85);
    color: white;
    text-align: center;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    width: 100px;
    bottom: 0;
    right: 8%;
    cursor: pointer;

}