html, body{

    padding:0;
    margin:0;
    background-color: gold;
    font-family: Arial,sans-serif;

}

body{

    width: 100%;
    height: 100%;

}

#headerer{

    text-align: left;
    color:white;
    margin: 10px;
    font-weight: bolder;
    font-size: 40px;

}


#contenter{

    width: 1000px;
    height: auto;
    margin: 120px auto;
    padding-left: 40%;

}

#in_content{

    float: left;
    width: auto;
    background-color:white;
    padding: 30px;
    border:1px solid rgb(150,150,150);

}
