
div#head, div#form{

    float: left;
    margin-left: 120px;

}

div#head{

    /*font-size: 22px;*/
    margin-top:30px;

}

div#form {

    clear: both;
    margin-top:15px;
    width: auto;

}

label, input {

    display: inline-block;
    vertical-align: super;
    width: 100px;

}

input[type="file"]{

    /*display: none;*/

}

input[type="text"], input[type="file"], textarea{

    width:500px

}

textarea{
    
    height: 100px;
    
}

.result{

    /*background-color: white;*/
    /*width: 500px;*/
    /*height: 60px;*/
    /*line-height: 60px;*/
    text-align: center;
    color:#4b4b4b;
    /*border: 1px dashed #4b4b4b;*/
    cursor: pointer;
    /*margin: 20px;*/

}

.result:after{

    /*content: "คลิกเพื่อดาวน์โหลด";*/

}
