
div#head, div#form{

    float: left;
    margin-left: 120px;

}

div#head{

    /*font-size: 22px;*/
    margin-top:30px;

}

div#form {

    clear: both;
    margin-top:15px;
    width: auto;

}

label, input {

    display: inline-block;
    vertical-align: super;
    width: 100px;

}

input[type="text"], input[type="file"], textarea{

    width:500px

}

textarea{
    
    height: 100px;
    
}
