#createuser label, #createuser input, #edituser label, #edituser input {
  float: left;
  position: relative;
  width: 145px; }
#createuser input, #edituser input {
  width: 140px; }

#edituser {
  padding-left: 10px; }
