#bigbox {
  height: 100%; }
  #bigbox #menu, #bigbox #content {
    float: left; }
  #bigbox #menu {
    position: fixed;
    height: 100%;
    background-color: #b4b4b4; }
  #bigbox #content {
    margin: 20px 0 0 250px; }

#usertable tr, #usertable td, #usertable th {
  border: 1px solid #5a5a5a;
  width: 180px; }
#usertable th {
  background-color: #5a5a5a;
  color: white; }
#usertable td {
  text-indent: 10px; }

.btn_menu1 {
  background-color: #8c8c8c;
  color: white;
  float: left;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  font-size: 15px; }

.btn_menu1:hover {
  background-color: #5a5a5a;
  color: white; }
