
div#bigbox{

    width: 1000px;
    height: auto;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;

}

div#bigbox-left{

    float: left;
    width: 320px;
    height: auto;
    margin-top: 50px;
    margin-left: 50px;
    padding: 15px;
    background-color: rgb(180,180,180);

}

div#bigbox-right{

    float: right;
    width: 850px;
    height: auto;
    margin-top: 30px;
    margin-right: 50px;
    padding: 20px;

}

table{

    border:1px solid black;
    border-collapse:collapse;
    margin: auto;

}

th{
    background-color: rgb(195,195,195);
}

tr, th, tr{

    text-align: center;
    border: 1px solid black;
    width:200px;

}


div#form {

    clear: both;
    margin-top:15px;
    width: auto;

}

label, input, select {

    display: inline-block;
    vertical-align: super;
    width: 100px;

}

input[type="text"], input[type="password"] , textarea, select{

    width:200px

}