#bigbox #menu, #bigbox #content {
  float: left; }
#bigbox #menu {
  padding: 0 20px 0 0;
  height: 100%; }

#usertable tr, #usertable td, #usertable th {
  border: 1px solid #5a5a5a;
  width: 180px; }
#usertable th {
  background-color: #5a5a5a;
  color: white; }
#usertable td {
  text-indent: 10px; }

.btn_menu1 {
  background-color: #b4b4b4;
  color: white;
  float: left;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  font-size: 15px; }

.btn_menu1:hover {
  background-color: #5a5a5a;
  color: white; }
