#menu1 {
  float: left;
  background-color: #cdcdcd;
  height: 450px;
  width: 250px; }

/*border-bottom:  solid rgb(175,175,175); */
/* ---------------------Sub menu--------------------- */
#sub_menu {
  float: left;
  width: 100%;
  height: 40px;
  font-size: 14px;
  background-color: #555555;
  overflow: hidden; }

#search {
  float: right;
  height: 25px;
  line-height: 25px;
  margin-right: 20px;
  vertical-align: middle; }
  #search input#search_input {
    float: right;
    border: 0;
    height: 40px; }
  #search #search_button {
    background-color: #555555;
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 50px;
    cursor: pointer; }
  #search .button_1 {
    float: right;
    border-left: 1px solid #c3c3c3;
    background-color: #555555;
    color: white;
    padding: 0 20px 0 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    margin: 0 10px 0 10px; }

/* ---------------------For stable layout when some "div" was moving--------------------- */
#blogmenu1 {
  float: left;
  background-color: transparent;
  height: 500px;
  width: 250px; }

/* ---------------------Content--------------------- */
#blog_content {
  position: inherit;
  float: left;
  background-color: transparent;
  width: 700px;
  min-height: 25%;
  height: auto; }

#content {
  float: left;
  width: 100%;
  min-height: 25%;
  height: auto;
  margin-top: 15px;
  background-color: transparent; }
  #content a {
    color: black; }
  #content .reply {
    float: left;
    background-color: white;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    position: relative; }
    #content .reply .tp_edit, #content .reply .tp_del {
      color: indianred;
      padding: 0 5px 0 5px;
      z-index: 3; }
    #content .reply .tp_edit:hover, #content .reply .tp_del:hover {
      color: white;
      background-color: red;
      cursor: pointer; }
    #content .reply .tp_edit {
      position: absolute;
      right: 30px; }
    #content .reply .tp_del {
      position: absolute;
      padding: 0;
      width: 25px;
      text-align: center;
      right: 0; }
    #content .reply .rep_status {
      position: absolute;
      margin: 0;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      font-size: 18px;
      color: white;
      background-color: red;
      z-index: 3; }
    #content .reply .gal {
      float: right;
      position: relative; }
    #content .reply .head {
      text-indent: 40px;
      color: #373737;
      background-color: #f0f0ff;
      position: absolute;
      width: 100%;
      font-size: 22px;
      z-index: 2; }
    #content .reply .descrip {
      float: left;
      text-indent: 10px;
      width: 90px; }
    #content .reply .descrip2 {
      float: right;
      margin-right: 210px;
      width: 200px; }
    #content .reply img.tumb {
      width: 100px;
      height: auto; }

/* ---------------------MORE--------------------- */
#loadmore {
  float: left;
  width: 100%;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #555555;
  color: white; }

#up {
  float: left;
  position: fixed;
  background-color: #555555;
  color: white;
  text-align: center;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  width: 100px;
  bottom: 0;
  right: 2%;
  cursor: pointer; }
