@charset "UTF-8";
#head {
  font-size: 28px;
  margin: 30px 0 0 220px; }

#form {
  margin: 40px 0 100px 220px; }

.label_upload1 {
  float: left;
  width: 100%;
  background-color: #afafaf;
  color: black; }

.in_drop_div {
  background-color: white;
  height: 100px;
  width: 500px;
  color: dodgerblue;
  line-height: 100px;
  text-align: center;
  cursor: pointer; }

#post_note, #post_note2, #post_note3 {
  width: 500px; }

.in_drop_div:after {
  content: "คลิก หรือ วางที่นี่"; }

#upload_box, #upload_box2, #upload_box3 {
  width: 310px;
  padding: 10px;
  background-color: white; }

.upload_section {
  background-color: white;
  color: gray;
  width: 500px; }

.ip_upload1, .car_file, .car_file2, .car_file3 {
  display: none; }

.show_upload {
  height: 100px;
  width: auto; }

.del_upload_img {
  cursor: pointer; }

.wait_car_img, .wait_car_img2, .wait_car_img3 {
  width: 300px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  color: red;
  cursor: pointer;
  border: 2px red dashed; }

.show_car_upload, .show_car_upload2, .show_car_upload3 {
  width: 300px;
  height: auto; }

.del_car_upload, .del_car_upload2, .del_car_upload3 {
  cursor: pointer; }
