

label, input{

    float:left;

}

label{

    display: inline-block;
    text-align: left;
    width: 120px;

}

input{

    background-color: palegoldenrod;
    border: 0;

}

button{

    border: 0;
    background: gold;
    color: black;
    padding: 10px;

}

